extends ../layout

block favicon
    link(rel="shortcut icon", href="/images/add.png", type="image/png")

block title
    title Add new task

block content
    .container
        div(class="m-3 justify-content-center d-flex")
            img(src="/images/add.svg", class="mr-2 align-top", height="48", width="48", alt="Add image")
            h2 Add new task
        form(class="m-3 px-3 pt-3 border grey", style="border-radius: 1rem", method="post", action="/add")
            div(class="form-group")
                label(for="taskName")
                    | Name:
                input(class="form-control", type="text", id="taskName", placeholder="Enter task name...")
            div(class="form-group")
                label(for="taskDescription")
                    | Description:
                textarea(class="form-control", maxlength="250", placeholder="Enter task description...", 
                    id="taskDescription", rows="2")
            div(class="form-group")
                label(for="taskStatus")
                    | Status:
                select(class="form-control", id="taskStatus")
                    option In progress
                    option Completed
            div(class="form-group")
                label(for="deadlineDate")
                    | Deadline:
                input(class="form-control", type="date", id="deadlineDate")
            div(class="form-group")
                label(for="customFile")
                    | Clip your files:
                div(class="custom-file")
                    input(type="file", class="custom-file-input", id="customFile")
                    label(class="custom-file-label", for="customFile")
                        | Choose file
            div(class="form-group d-flex justify-content-center")
                input(class="btn mr-4 btn-success", type="submit", value="Submit")
                input(class="btn ml-4 btn-danger", type="reset", value="Reset")